body{
    margin:0;
    padding:0;
    font-family: Sans-Serif;
    text-align: center;
    line-height: 1.5em;
    position: relative;
    }

.background {
        background-color: black;
        background-repeat: no-repeat;
        background-size: auto;
        background-size: cover;  
        position: relative;
    }

.wrapper {
    overflow: hidden;
          background: url("hulubackground.jpg");
          background-size: contain;
           background-repeat: no-repeat;
           width: 100%;
           position: relative;
           }

    nav {
    position: absolute;
    top: 15px;
    left: 0; 
    height: 50px;
    width: 100vw;  
    z-index: 1; 
  }
  nav ul li {
    float: right; 
    margin-right: 50px; 
    list-style-type: none; 
    text-align: center; 
    font-size: 25px;
  }

  .nav-link{
    color: white; 
    text-decoration: none;
    font-family: 'Acme',sans-serif;
    font-weight: bolder;
    }

  .nav-link:hover {
    color: gray; 
    font-weight: bold; 
   }
#hulu {
    color: #FFFFFF;
}
.mainColor {
    color: #1CE783;
    margin-top: 10em;
    position: relative;
}

#priceMonth {
   color: #FFFFFF;
   font-weight: bold; 
   text-align: center;
   position: relative;
}

#stream {
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 1px;
    font-weight: lighter;
    position: relative;
    }
#trial {
    color: #FFFFFF;
    margin-top: 3em;
    text-align: center;
    font-size: small;
    position: relative;
    
}

.main1 {
   
        align-items: center;
  justify-content: center;
    position: relative;
      width: 100%;
}

.main2 {
    height: 10em;
    width: 100%;
       background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(12,52,68,1) 32%, rgba(13,60,73,1) 90%);
    color: #1CE783;
    text-align: center;
    top: 5em;
    position: relative;

}

#hde{
    padding-top: 40px;
    size: 50px;
    height: 30vw; 
    width: 30vw;
    float: left; }

.price {
    color: #ffffff;
    text-align: left;
    font-size: x-large;
}

#save {
    color: #1CE783;
    text-align: left;
    font-weight: thin;
    font-size: small;
    padding-top: 30px;
}

#detail {
    float: left; 
    margin-top: 10px;
    margin-right: 50px; 
    list-style-type: none; 
    font-size: medium;
    color: white; 
    text-decoration: underline;
    font-family: 'Acme',sans-serif;
    font-weight: thin;
  }

  .button1 {
    background-color: white);
        color: black;
        letter-spacing: 1px;
        border: gray;
        outline: white;
        width: 300px;
        height: 60px;
        padding: 0 15px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 18px;
        line-height: 20px;
        font-weight: 600;
        border-radius: 5px;
        margin-top: 10px
  }

  button:hover {
    background-color: gray;
}

.button2 {
         background-color: transparent;   
         border-color: white;    
         color: white;
        letter-spacing: 2px;
        width: 200px;
        height: 60px;
        padding: 0 15px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 18px;
        line-height: 50px;
        font-weight: 600;
        border-radius: 5px;
        margin-top: -25px
  }
    
  #bbn {
    padding-top: -20px;
    size: 100px;
   
    float: right;
    }

    #terms {
        text-align: center;
        font-size: medium;
        color: white; 
        text-decoration: underline;
        font-family: 'Acme',sans-serif;
        font-weight: thin;
        position: relative;
      }

     


     #mainPlan {
        color: #1CE783;
        text-align: center;
        font-weight: thin;
        font-size: medium;
        position: relative;
        margin-top: -15em;
        letter-spacing: 2px;
             }

 #lib {
                color: #FFFFFF;
            font-size: 75px;
                text-align: center;
                position: relative;
                margin-top: 1em;
                       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
         
        
        #season {
            color: #FFFFFF;
            text-align: center;
            letter-spacing: 1px;
           
            position: relative;
            font-family: 'Acme',sans-serif;
            font-size: xx-large;
            margin-left: 25px;
            margin-right: 25px;
                    }



                    .flex-container {
                        display: flex;
                        flex-wrap:nowrap;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        align-content: space-around; 
                        width: 100%;
                      }

                      .flex-item {
                        flex: 0 0 auto;
  margin: 25px;

}

img {
    max-height: 500px;
    min-width: 300px;
    object-fit: contain;
     vertical-align: bottom;
  }